<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="ticketAdminPrioriteForm" (ngSubmit)="onSubmit()">
                    <div class="card-header"><strong>Affecter la priorité </strong> </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nom">Demandeur</label>
                                    <input class="form-control" formControlName="nom" id="nom" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="objet">Objet:</label>
                                    <input class="form-control" formControlName="objet" id="objet" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="element">Élément:</label>
                                    <input class="form-control" formControlName="element" id="element" type="text">
                                </div>
                            </div>

                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="date_d_ouverture">Date d'ouverture:</label>
                                    <input class="form-control" formControlName="date_d_ouverture" id="date_d_ouverture"
                                        type="datetime-local">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="date_d_echeance">Date d'écheance:</label>
                                    <input class="form-control" formControlName="date_d_echeance" id="date_d_echeance"
                                        type="datetime-local">
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="categorie">Catégorie:</label>
                                    <select class="form-control" formControlName="categorie" id="categorie">
                                        <option value="Applicatif">Applicatif</option>
                                        <option value="Matériel">Matériel</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="impact">Impact:</label>
                                    <select class="form-control" formControlName="impact" id="impact">
                                        <option value="Élevé">Élevé</option>
                                        <option value="Normale">Normale</option>
                                        <option value="Bas">Bas</option>
                                        <option value="Trés bas">Trés bas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="etat">État:</label>
                                    <select class="form-control" formControlName="etat" id="etat">
                                        <option value="Ouvret">Ouvret</option>
                                        <option value=" En traitement">En traitement</option>
                                        <option value="Clos">Clos</option>
                                        <option value="En retard">En retard</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 col-form-label">
                                <div class="form-check">
                                    <label>Lieu:</label>

                                    <label>
                                        <input type="radio" value="Agence" formControlName="lieu">
                                        <span>Agence</span>
                                    </label>
                                    <label>
                                        <input type="radio" value="siège" formControlName="lieu">
                                        <span>siège</span>
                                    </label>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="departement">Département:</label>
                                    <input class="form-control" id="departement" formControlName="departement"
                                        type="text">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="num_agence">Numéro d'agence:</label>
                                    <input class="form-control" formControlName="num_agence" id="num_agence"
                                        type="number">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="commentaire">Commentaire:</label>
                                    <textarea class="form-control" formControlName="commentaire" id="commentaire"
                                        type="text">
                                       </textarea>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" formControlName="description" id="description"
                                        name="description" rows="12">
                                </textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="file">Piéce-joint:</label>
                                    <a href="{{file}}" target="_blank" class="btn btn-success btn-sm">
                                        <i class="fa fa-download"></i> Télécharger le fichier
                                      </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="priorite">Priorité:</label>
                                <select class="form-control" formControlName="priorite" id="priorite"
                                    [ngClass]="{ 'is-invalid': submitted && f.priorite.errors }">
                                    <option value="Élevé">Élevé</option>
                                    <option value="Moyenne">Moyenne</option>
                                    <option value="Basse">Basse</option>
                                    <option value="Trés basse">Trés basse</option>
                                </select>
                                <div *ngIf="submitted && f.priorite.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.priorite.errors.required">Le champ priorité est obligatoire.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-sm-5 col-sm-3 offset-md-7 col-md-2">
                                <a routerLink="/home/tickets/index" class="btn btn-primary btn-pill btn-block">
                                    <i class="cui-arrow-left icons"></i> Retour
                                </a>
                            </div>
                            <div class="col-sm-3 col-md-2 form-group form-actions">
                                <button type="submit" class="btn btn-success btn-pill btn-block">
                                    <i class="cui-circle-check icons"></i> Envoyer
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>