<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="ticketAdminPrioriteForm" (ngSubmit)="onSubmit()">
                    <div class="card-header"><strong>Affecter la priorité </strong> </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nom">Demandeur</label>
                                    <input class="form-control"  formControlName="nom"  id="nom" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="objet">Objet:</label>
                                    <input class="form-control"  formControlName="objet" id="objet" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="element">Élément:</label>
                                    <input class="form-control"  formControlName="element" id="element" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="date_d_ouverture">Date d'ouverture:</label>
                                    <input class="form-control"    id="date_d_ouverture" type="date">
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="date_d_echeance">Date d'écheance:</label>
                                    <input class="form-control"  formControlName="date_d_echeance" id="date_d_echeance" type="date">
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="categorie">Catégorie:</label>
                                    <select class="form-control"  formControlName="categorie" id="categorie">
                                        <option value="applicatif"> Applicatif</option>
                                        <option value="materiel"> Matériel</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="impact">Impact:</label>
                                    <select class="form-control"  formControlName="impact" id="impact">
                                        <option value="eleve"> Élevé</option>
                                        <option value="normale"> Normale</option>
                                        <option value="bas"> Bas</option>
                                        <option value="tres_bas"> Trés bas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="etat">État:</label>
                                    <select class="form-control"   formControlName="etat" id="etat" readonly="true">
                                        <option value="ouvert"> Ouvret</option>
                                        <option value="en_traitement"> En traitement</option>
                                        <option value="clos"> clos </option>
                                        <option value="en_retard"> En retard</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 col-form-label">
                                <div class="form-check">
                                    <label>Lieu:</label>

                                    <label>
                                        <input type="radio" value="Agence"  formControlName="lieu" readonly="true">
                                        <span>Agence</span>
                                    </label>
                                    <label>
                                        <input type="radio" value="Siége"  formControlName="lieu" readonly="true">
                                        <span>Siége</span>
                                    </label>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="departement">Département:</label>
                                    <input class="form-control" id="departement"   formControlName="departement" type="text" readonly="true">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="num_agence">Numéro d'agence:</label>
                                    <input class="form-control"  formControlName="num_agence" id="num_agence" type="number" readonly="true">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="commentaire">Commentaire:</label>
                                    <textarea class="form-control"  formControlName="commentaire" id="commentaire" type="text" readonly="true">
                                       </textarea>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control"   formControlName="description" id="description" name="description" rows="12"
                                        readonly="true">
                                </textarea>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="file">Piéce-joint:</label>
                                    <input class="form-control-file"   formControlName="file" id="file" type="file" #file accept='image/*'
                                        (change)="preview(file.files)">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="priorite">Priorité:</label>
                                <select class="form-control" formControlName="priorite" id="priorite"
                                    [ngClass]="{ 'is-invalid': submitted && f.priorite.errors }">
                                    <option value="eleve"> Élevé</option>
                                    <option value="moyenne"> Moyenne </option>
                                    <option value="basse"> basse </option>
                                    <option value="tres_basse"> trés basse </option>
                                </select>
                                <div *ngIf="submitted && f.priorite.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.priorite.errors.required">Le champ priorité est obligatoire.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="offset-sm-9 col-sm-3">
                            <div class="form-group form-actions">
                                <button type="submit" class="btn btn-success btn-block">
                                    <i class="cui-save icons mt-4"></i>Envoyer
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>