<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Liste des tickets</strong>
    </div>
    <div class="card-body">

      <table class="table table-striped table-hover table-responsive-lg" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Demandeur</th>
            <th>Catégorie</th>
            <th>Objet</th>
            <th>Date d'ouverture</th>
            <th>Date d'écheance</th>
            <th>État</th>
            <th>Priorité</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketsData">
            <td>{{ticket.nom}}</td>
            <td>{{ticket.categorie}}</td>
            <td>{{ticket.objet}}</td>
            <td>{{ticket.date_d_ouverture | date : 'dd-MM-yyyy hh:mm'}}</td>
            <td>{{ticket.date_d_echeance  | date : 'dd-MM-yyyy hh:mm'}}</td>
            <td>
              <span class="badge badge-primary" *ngIf="ticket.etat === 'Ouvert'">
                {{ticket.etat}}
              </span>
              <span class="badge badge-success" *ngIf="ticket.etat === 'En traitement'">
                {{ticket.etat}}
              </span>
              <span class="badge badge-warning" *ngIf="ticket.etat === 'Clos'">
                {{ticket.etat}}
              </span>
              <span class="badge badge-danger" *ngIf="ticket.etat === 'En retard'">
                {{ticket.etat}}
              </span>
            </td>
            <td>{{ticket.priorite}}</td>
            <td>
                <a *ngIf="ticket.hasResponse === false" [routerLink]="['/home/tickets/informaticien/reponse/', ticket.id]"
                   class="btn btn-success btn-sm text-white">
                  <i class="fa fa-share fa-white"></i> Répondre
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
