<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Liste des utilisateurs
    </div>
    <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-4 offset-md-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input class="form-control ng-untouched ng-pristine ng-valid" placeholder="Search by name" type="text">
        </div>
      </div>
    </div>

      <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of data">
          <td>{{group.name}}</td>
          <td>{{group.email}}</td>
          <td>{{group.website}}</td>
        </tr>
        </tbody>
      </table>

  </div>
  </div>
</div>
