<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Liste des tickets
    </div>
    <div class="card-body">
      <div class="row mb-3"
       *ngIf="role !== null && role !== undefined && (role === 'Administrateur' || role === 'Personnel') ">
        <div class="col-lg-4 offset-lg-8 col-md-5 offset-md-7 col-sm-6 offset-sm-6">
          <a routerLink="/home/tickets/add" class="btn btn-primary btn-block btn-pill">
            <i class="fa fa-plus"></i>Ajouter un ticket
          </a>
        </div>
      </div>
      <table class="table table-striped table-hover table-responsive-lg" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Demandeur</th>
            <th>Catégorie</th>
            <th>Objet</th>
            <th>Date d'ouverture</th>
            <th>Date d'écheance</th>
            <th>État</th>
            <th *ngIf="role === 'Administrateur'">Priorité</th>
            <th>Durée</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketsData">
            <td>{{ticket.nom}}</td>
            <td>{{ticket.categorie}}</td>
            <td>{{ticket.objet}}</td>
            <td>{{ticket.date_d_ouverture | date : 'dd-MM-yyyy hh:mm'}}</td>
            <td>{{ticket.date_d_echeance  | date : 'dd-MM-yyyy hh:mm'}}</td>
            <td>
              <span class="badge badge-primary" *ngIf="ticket.etat === 'Ouvert'">
                {{ticket.etat}}
              </span>
              <span class="badge badge-success" *ngIf="ticket.etat === 'En traitement'">
                {{ticket.etat}}
              </span>
              <span class="badge badge-warning" *ngIf="ticket.etat === 'Clos'">
                {{ticket.etat}}
              </span>
              <span class="badge badge-danger" *ngIf="ticket.etat === 'En retard'">
                {{ticket.etat}}
              </span>
            </td>
            <td *ngIf="role === 'Administrateur'">{{ticket.priorite}}</td>
            <td>{{ calculateDiff(ticket.date_d_ouverture, ticket.date_d_echeance)}} Minutes</td>
            <td>
              <div *ngIf="role !== null && role !== undefined && (role === 'Administrateur' || role === 'Personnel')">
                <a [routerLink]="['/home/tickets/show/', ticket.id]" class="btn btn-info btn-sm">
                  <i class="fa fa-eye fa-white"></i>
                </a>
                <a *ngIf="ticket.hasResponse === false && ticket.priorite === null && ticket.editable === true"
                   [routerLink]="['/home/tickets/update/', ticket.id]" class="btn btn-warning btn-sm">
                  <i class="fa fa-edit fa-white"></i>
                </a>
                <a *ngIf="role !== null && role !== undefined && role === 'Administrateur' && ticket.priorite == null"
                  [routerLink]="['/home/tickets/priorite/', ticket.id]" class="btn btn-success btn-sm text-white">
                  <i class="fa fa-share" aria-hidden="true"></i> Priorité
                </a>
                <a [routerLink]="['/home/tickets/avis/add/', ticket.id]" class="btn btn-primary btn-sm"
                   *ngIf="role !== null && role !== undefined && (role === 'Administrateur' || role === 'Personnel')
                         && (ticket.etat === 'En retard' || ticket.etat === 'Clos') && ticket.hasAvis === false
                          && ticket.enable_avis === true">
                  <i class="fa fa-plus"></i> Avis
                </a>
                <a [routerLink]="['/home/tickets/reponse/show/', ticket.reponse.id]" class="btn btn-primary btn-sm"
                   *ngIf="role !== null && role !== undefined && (role === 'Administrateur' || role === 'Personnel')
                         && ticket.hasResponse === true">
                  <i class="fa fa-comment fa-white"></i> Réponse
                </a>
                <a [routerLink]="['/home/tickets/relance/', ticket.reponse.id]" class="btn btn-danger btn-sm"
                   *ngIf="role !== null && role !== undefined && (role === 'Administrateur' || role === 'Personnel')
                         && ticket.hasResponse === true && ticket.ticket_isRelanced === false
                         && ticket.ticket_status === false && ticket.enable_relancer === true">
                  <i class="fa fa-refresh fa-white"></i> Relancer
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
