<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <h1 class="text-center h2">Réinitialiser le mot de passe </h1>
                    <hr>
                    <p class="text-muted">Saisissez votre nouveau mot de passe</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" formControlName="password" class="form-control" placeholder="Nouveau mot de passe"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block">
                        <div *ngIf="f.password.errors.required">Le champ mot de passe est obligatoire.</div>
                        <div *ngIf="f.password.errors.minlength">Le mot de passe doit être au moins de 6 caractères.</div>
                      </div>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirmation de mot de passe"
                      [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback d-block" >
                        <div *ngIf="f.confirmPassword.errors.required">Le champ confirmation de mot de passe est obligatoire.</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Les deux mot de passe ne sont pas identiques.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetPasswordForm.valid">
                          Changer mon mot de passe
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- common right column -->
              <div class="card d-md-down-none">
                <app-common-right-col></app-common-right-col>
              </div>
              <!-- common right column -->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
