<div class="fade-in">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form [formGroup]="missionShowForm">
          <div class="card-header">
            <strong>Détails de mission</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="nom_organisateur">Organisé par:</label>
                  <input class="form-control" formControlName="nom" id="nom_organisateur" type="text">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="fonction">Fonction:</label>
                  <input class="form-control" formControlName="fonction" id="fonction" type="text">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="mission_name">Mission:</label>
                  <input class="form-control" formControlName="mission" id="mission_name" type="text">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="date_debut_mission">Date début:</label>
                  <input class="form-control" formControlName="date_debut" id="date_debut_mission"
                         type="date">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="date_fin_mission">Date fin:</label>
                  <input class="form-control" formControlName="date_fin" id="date_fin_mission" type="date">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea class="form-control" formControlName="description" id="description"
                            name="description" rows="8">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="missionReponseForm" (ngSubmit)="onSubmit()">
                    <div class="card-header">
                      <strong>Votre réponse</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nom">Nom:</label>
                                    <input class="form-control" formControlName="nom" id="nom" type="text"
                                        placeholder="Saisissez le nom et le prénom ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
                                    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.nom.errors.required">Le nom champ est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="collaborateurs">Collaborateurs:</label>
                                    <input class="form-control" formControlName="collaborateurs" id="collaborateurs"
                                        type="text" placeholder="Saisissez les collaborateurs ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.collaborateurs.errors }">
                                    <div *ngIf="submitted && f.collaborateurs.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.collaborateurs.errors.required">Le champ collaborateurs est
                                            obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="mission">Mission:</label>
                                    <input class="form-control" formControlName="mission" id="mission" type="text"
                                        placeholder="Saisissez mission ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.mission.errors }">
                                    <div *ngIf="submitted && f.mission.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.mission.errors.required">Le champ mission est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="date_debut">Date début:</label>
                                    <input class="form-control" formControlName="date_debut" id="date_debut" type="date"
                                        [ngClass]="{ 'is-invalid': submitted && f.date_debut.errors }">
                                    <div *ngIf="submitted && f.date_debut.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.date_debut.errors.required">Le champ date début est obligatoire.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="date_fin">Date fin:</label>
                                    <input class="form-control" formControlName="date_fin" id="date_fin" type="date"
                                        [ngClass]="{ 'is-invalid': submitted && f.date_fin.errors }">
                                    <div *ngIf="submitted && f.date_fin.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.date_fin.errors.required">Le champ date fin est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="reponse">Réponse:</label>
                                    <textarea class="form-control" formControlName="reponse" id="reponse"
                                        placeholder="Saisissez la réponse ici" name="reponse" rows="8"
                                        [ngClass]="{ 'is-invalid': submitted && f.reponse.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && f.reponse.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.reponse.errors.required">Le champ réponse est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-5 col-sm-3 offset-md-7 col-md-2">
                            <a routerLink="/home/missions/index" class="btn btn-primary btn-pill btn-block">
                                <i class="cui-arrow-left icons"></i> Retour
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-2 form-group form-actions">
                            <button type="submit" class="btn btn-success btn-pill btn-block">
                                <i class="cui-circle-check icons"></i> Répondre
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
