<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="categorieMaterielShowForm" >
                    <div class="card-header">
                      <strong>Afficher les détails d'une catégorie matériel:</strong>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label for="Objet">Objet:</label>
                                <input class="form-control" formControlName="objet" id="objet" type="text">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label for="probleme">Problème:</label>
                                <input class="form-control" formControlName="probleme" id="probleme" type="text">
                              </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="solutionFile">Solution de problème:</label>
                                  <br>
                                  <a href="{{solutionFile}}" target="_blank" id="solutionFile"
                                     class="btn btn-success">
                                    <i class="fa fa-download"></i> Télécharger le fichier
                                  </a>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="description">Description:</label>
                              <textarea class="form-control" formControlName="description" id="description"
                                        name="description" rows="12">
                              </textarea>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="offset-sm-5 col-sm-3 offset-md-7 col-md-2">
                        </div>
                        <div class="col-sm-3 col-md-2 form-group form-actions">
                          <a routerLink="/home//categories/materiel/index" class="btn btn-primary btn-pill btn-block">
                            <i class="cui-arrow-left icons"></i> Retour
                          </a>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
