<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="categorieApplicatifAddForm" (ngSubmit)="onSubmit()">
                    <div class="card-header"><strong>Ajouter une catégorie applicatif:</strong> </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="type">Type:</label>
                                  <select class="form-control" formControlName="type" id="type"
                                          [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                                    <option value="Émission">Émission</option>
                                    <option value="Affiliation">Affiliation</option>
                                  </select>
                                  <div *ngIf="submitted && f.type.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.type.errors.required">Le champs type est obligatoire.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="probleme">Problème:</label>
                                  <select class="form-control" formControlName="probleme" id="probleme"
                                          [ngClass]="{ 'is-invalid': submitted && f.probleme.errors }">
                                    <option value="Création">Création</option>
                                    <option value="Remplacement">Remplacement</option>
                                    <option value="Annulation">Annulation</option>
                                    <option value="Opposition">Opposition</option>
                                    <option value="Acceptation">Acceptation</option>
                                    <option value="Retrait">Retrait</option>
                                    <option value="Achat">Achat</option>
                                  </select>
                                  <div *ngIf="submitted && f.probleme.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.probleme.errors.required">Le champs problème est obligatoire.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="solutionFile">Solution de problème:</label>
                                  <input class="form-control-file" formControlName="solutionFile" id="solutionFile"
                                         type="file" #file (change)="changeSelectedFile(file.files)">
                                  <div *ngIf="submitted && f.solutionFile.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.solutionFile.errors.required">Le champ solution de problème est obligatoire.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" formControlName="description" id="description"
                                          name="description" placeholder="Description" name="description"
                                          rows="12" placeholder="Saisissez la description ici ..."
                                          [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                    </textarea>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
                                  <div *ngIf="f.description.errors.required">Le champ description est obligatoire.
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="offset-sm-5 col-sm-3 offset-md-7 col-md-2">
                        <a routerLink="/home/categories/applicatif/index" class="btn btn-primary btn-pill btn-block">
                          <i class="cui-arrow-left icons"></i> Retour
                        </a>
                      </div>
                      <div class="col-sm-3 col-md-2 form-group form-actions">
                          <button type="submit" class="btn btn-success btn-pill btn-block">
                            <i class="cui-circle-check icons"></i> Ajouter
                          </button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
