<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        Liste  des solutions applicatifs
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-hover table-responsive-lg" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Probléme</th>
                  <th>Solution</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let categorie of categoriesApplicatifsData">
                  <td>{{categorie.type}}</td>
                  <td>{{categorie.probleme}}</td>
                  <td>
                    <a href="{{categorie.solution_file}}" target="_blank" class="btn btn-success btn-sm">
                      <i class="fa fa-download"></i> Télécharger le fichier
                    </a>
                  </td>
                    <td>
                      <a  [routerLink]="['/home/categories/applicatif/show/', categorie.id]" class="btn btn-info btn-sm">
                        <i class="fa fa-eye fa-white"></i>
                      </a>
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>


