<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        Liste  des solutions applicatifs
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-hover table-responsive-lg" datatable [dtOptions]="dtOptions">
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Probléme</th>
                  <th>Description</th>
                  <th>Solution</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ticket of ticketsData">
                  <td class="text-center"><img src="{{ ticket.photo}}" width="30" height="30"></td>
                  <td>{{ticket.identifiant}}</td>
                  <td>{{ticket.nom}}</td>
                  <td>{{ticket.prenom}}</td>
                  <td>{{ticket.email}}</td>
                  <td>{{ticket.role}}</td>
                  <td>
                    <a [routerLink]="['/home/users/show/', ticket.id]" class="btn btn-info btn-sm">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a [routerLink]="['/home/users/update/', ticket.id]" class="btn btn-warning btn-sm">
                      <i class="fa fa-edit"></i>
                    </a>
                    <button class="btn btn-danger btn-sm" (click)="deleteTicket(ticket.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>


