<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Liste des missions
    </div>

    <div class="card-body">

      <table class="table table-striped table-hover table-responsive-lg"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th>Nom</th>
          <th>fonction</th>
          <th>Mission</th>
          <th>Date début</th>
          <th>Date fin</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="missionsData !== null">
        <tr *ngFor="let mission of missionsData">
          <td>{{mission.nom}}</td>
          <td>{{mission.fonction}}</td>
          <td>{{mission.mission}}</td>
          <td>{{mission.date_debut}}</td>
          <td>{{mission.date_fin}}</td>
          <td>
            <a [routerLink]="['/home/missions/repondre/', mission.id]" class="btn btn-info btn-sm text-white">
              <i class="fa fa-envelope" aria-hidden="true"></i> Répendre
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
