<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="categorieAddForum" (ngSubmit)="onSubmit()">
                    <div class="card-header"><strong>Ajouter une catégorie</strong> </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="element">Élément:</label>
                                    <input class="form-control" formControlName="element" id="element" type="text"
                                        placeholder="Saisissez l'élément ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.element.errors }">
                                </div>
                                <div *ngIf="submitted && f.element.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.element.errors.required">Le champ élément est obligatoire.</div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="type">Type:</label>
                                    <select class="form-control" formControlName="type" id="type"
                                        [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                                        <option value="materiel"> Matériel </option>
                                        <option value="applicatif">Applicatif</option>
                                    </select>
                                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.type.errors.required">Le champ type est obligatoire.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="emission">Emission:</label>
                                    <select class="form-control" id="emission">
                                        <option value="creation "> Creation </option>
                                        <option value="remplacement "> Remplacement </option>
                                        <option value="annulation"> Annulation</option>
                                        <option value="opposition "> Opposition
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="affiliation">Affiliation:</label>
                                    <select class="form-control" id="affiliation">
                                        <option value="acceptation">Acceptation </option>
                                        <option value="retrait"> Retrait </option>
                                        <option value="achat">Achat </option>
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" formControlName="description" id="departement"
                                        type="text" placeholder="Saisissez description ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                </div>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.description.errors.required">Le champ description est obligatoire.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="solution">Solution:</label>
                                    <input class="form-control-file" formControlName="solution" id="solution"
                                        type="file" [ngClass]="{ 'is-invalid': submitted && f.solution.errors }"></div>
                                <div *ngIf="submitted && f.solution.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.solution.errors.required">Le champ solution est obligatoire.</div>
                                </div>
                            </div>

                            <div class="offset-sm-9 col-sm-3">
                                <div class="form-group form-actions">
                                    <button type="submit" class="btn btn-success btn-block">
                                        <i class="cui-save icons mt-4"></i> Créer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>