<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="ticketAddForm" (ngSubmit)="onSubmit()">
                    <div class="card-header">
                      <strong>Créer un ticket </strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nom">Créer par:</label>
                                    <input class="form-control" formControlName="nom" id="nom" type="text"
                                        placeholder="Saisissez le nom ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
                                    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.nom.errors.required">Ce champ est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="objet">Objet:</label>
                                    <input class="form-control" formControlName="objet" id="objet" type="text"
                                        placeholder="Saisissez l'objet ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.objet.errors }">
                                    <div *ngIf="submitted && f.objet.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.objet.errors.required">Le champ objet est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="element">Élément:</label>
                                    <input class="form-control" formControlName="element" id="element" type="text"
                                        placeholder="Saisissez l'élément ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.element.errors }">
                                    <div *ngIf="submitted && f.element.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.element.errors.required">Le champ élément est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="date_d_ouverture">Date d'ouverture:</label>
                                    <input class="form-control" formControlName="date_d_ouverture" id="date_d_ouverture"
                                        type="datetime-local" placeholder="Saisissez la date d'ouverture ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.date_d_ouverture.errors }">
                                    <div *ngIf="submitted && f.date_d_ouverture.errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="f.date_d_ouverture.errors.required">Le champ date d'ouverture est
                                            obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="date_d_echeance">Date d'écheance:</label>
                                    <input class="form-control" formControlName="date_d_echeance" id="date_d_echeance"
                                        type="datetime-local" placeholder="Saisissez la date d'écheance ici"
                                        [ngClass]="{ 'is-invalid': submitted && f.date_d_echeance.errors }">
                                    <div *ngIf="submitted && f.date_d_echeance.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.date_d_echeance.errors.required">Le champ date d'echéance est
                                            obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="categorie">Catégorie:</label>
                                    <select class="form-control" formControlName="categorie" id="categorie"
                                        [ngClass]="{ 'is-invalid': submitted && f.categorie.errors }">
                                        <option value="Applicatif">Applicatif</option>
                                        <option value="Matériel">Matériel</option>
                                    </select>
                                    <div *ngIf="submitted && f.categorie.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.categorie.errors.required">Le champ catégorie est obligatoire.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="impact">Impact:</label>
                                    <select class="form-control" formControlName="impact" id="impact"
                                        [ngClass]="{ 'is-invalid': submitted && f.impact.errors }">
                                        <option value="Élevé">Élevé</option>
                                        <option value="Normale">Normale</option>
                                        <option value="Bas">Bas</option>
                                        <option value="Trés bas">Trés bas</option>
                                    </select>
                                    <div *ngIf="submitted && f.impact.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.impact.errors.required">Le champ impact est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="etat">État:</label>
                                    <select class="form-control" formControlName="etat" id="etat"
                                        [ngClass]="{ 'is-invalid': submitted && f.etat.errors }">
                                        <option value="Ouvret">Ouvret</option>
                                        <option value="En traitement">En traitement</option>
                                        <option value="Clos">Clos</option>
                                        <option value="En retard">En retard</option>
                                    </select>
                                    <div *ngIf="submitted && f.etat.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.etat.errors.required">Le champ état est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label >Lieu:</label>
                                    <div class="form-check">
                                      <input type="radio" id="agence" value="Agence" formControlName="lieu" class="form-check-input"
                                             [ngClass]="{ 'is-invalid': submitted && f.lieu.errors }">
                                      <label class="form-check-label" for="agence">Agence</label>
                                    </div>
                                    <div class="form-check">
                                      <input type="radio" id="siege" value="Siège" formControlName="lieu" class="form-check-input"
                                             [ngClass]="{ 'is-invalid': submitted && f.lieu.errors }">
                                      <label class="form-check-label" for="siege">Siège</label>
                                    </div>
                                    <div *ngIf="submitted && f.lieu.errors" class="invalid-feedback d-block">
                                      <div *ngIf="f.lieu.errors.required">Le champ lieu est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="departement">Département:</label>
                                    <input class="form-control" formControlName="departement" id="departement"
                                    type="text" placeholder="Saisissez le département ici">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="num_agence">Numéro d'agence:</label>
                                    <input class="form-control" id="num_agence" type="number" placeholder=""
                                           formControlName="num_agence">
                                </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label for="file">Piéce-jointe:</label>
                                <input class="form-control-file" formControlName="file" id="file" type="file"
                                       [ngClass]="{ 'is-invalid': submitted && f.file.errors }"
                                       #file (change)="loadSelectedFile(file.files)">
                                <div *ngIf="submitted && f.file.errors" class="invalid-feedback d-block">
                                  <div *ngIf="f.file.errors.required">Le champ pièce-jointe est obligatoire.</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="commentaire">Commentaire:</label>
                                    <textarea class="form-control" id="commentaire" rows="6"
                                              placeholder="Saisissez un commentaire ici"
                                              formControlName="commentaire"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" formControlName="description" id="description"
                                        name="description" rows="6" placeholder="Description"
                                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
                                      <div *ngIf="f.description.errors.required">Le champ description est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <!--  Button retour & submit -->
                  <div class="row">
                    <div class="offset-sm-5 col-sm-3 offset-md-7 col-md-2">
                      <a routerLink="/home/tickets/index" class="btn btn-primary btn-pill btn-block">
                        <i class="cui-arrow-left icons"></i> Retour
                      </a>
                    </div>
                    <div class="col-sm-3 col-md-2 form-group form-actions">
                      <button type="submit" class="btn btn-success btn-pill btn-block">
                        <i class="cui-circle-check icons"></i> Créer
                      </button>
                    </div>
                  </div>
                  <!-- / Button retour & submit-->
                </form>
            </div>
        </div>
    </div>
</div>
