<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <strong>BNA Bank</strong>
                </div>
                <form [formGroup]="ticketDetailsForum">
                  <div class="card-body">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="categorie">Catégorie:</label>
                        <input class="form-control" formControlName="categorie" id="categorie" type="text" >
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="element">Élément:</label>
                        <input class="form-control"  formControlName="element" id="element" type="text">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="impact">Impact:</label>
                        <select class="form-control" formControlName="impact" id="impact" >
                          <option value="Élevé">Élevé</option>
                          <option value="Normale">Normale</option>
                          <option value="Bas">Bas</option>
                          <option value="Trés bas">Trés bas</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="description_ticket"> Description du problème</label>
                        <textarea class="form-control" formControlName="description"
                                  id="description_ticket" rows="4.5">
                            </textarea>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="file_ticket">Piéce-jointe:</label>
                        <br>
                        <a *ngIf="ticketData !== null && ticketData !== undefined"
                            href="{{ticketData.file}}" target="_blank" class="btn btn-success btn-sm" id="file_ticket">
                          <i class="fa fa-download"></i> Télécharger le fichier
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="ticketReponseForum" (ngSubmit)="onSubmit()">
                    <div class="card-header">
                      <strong>Espace fournisseur </strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="observateur">L'observateur:</label>
                                            <input class="form-control" id="observateur" type="text"
                                                   formControlName="observateur"
                                                   placeholder="Saisissez le observateur et le préobservateur ici"
                                                [ngClass]="{ 'is-invalid': submitted && f.observateur.errors }">
                                            <div *ngIf="submitted && f.observateur.errors"
                                                class="invalid-feedback d-block">
                                                <div *ngIf="f.observateur.errors.required">Ce champ est
                                                    obligatoire.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="file">Piéce-jointe:</label>
                                            <input class="form-control-file" formControlName="file" id="file"
                                                type="file" [ngClass]="{ 'is-invalid': submitted && f.file.errors }"
                                                #file (change)="loadSelectedFile(file.files)">
                                            <div *ngIf="submitted && f.file.errors" class="invalid-feedback d-block">
                                                <div *ngIf="f.file.errors.required">Le champ pièce-jointe est
                                                    obligatoire.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" formControlName="description" id="description"
                                        name="description" placeholder="Description" name="description" rows="16"
                                        placeholder="Saisissez la description ici ..."
                                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.description.errors.required">Le champ description est
                                            obligatoire.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-5 col-sm-3 offset-md-7 col-md-2">
                            <a routerLink="/home/tickets/fournisseur/index" class="btn btn-primary btn-pill btn-block">
                                <i class="cui-arrow-left icons"></i> Retour
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-2 form-group form-actions">
                            <button type="submit" class="btn btn-success btn-pill btn-block">
                                <i class="cui-circle-check icons"></i> Envoyer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
