<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                  <h1 class="text-center h2">Trouver votre compte</h1>
                  <hr>
                  <p class="text-muted">Saisissez votre e-mail </p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="email" class="form-control" placeholder="E-mail"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
                      <div *ngIf="f.email.errors.required">L'adresse e-mail est obligatoire.</div>
                      <div *ngIf="f.email.errors.email">Le champ e-mail doit être une adresse e-mail valide.</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">
                        <i class="fa fa-envelope"></i> Trouver le compte
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- common right column -->
            <div class="card d-md-down-none">
              <app-common-right-col></app-common-right-col>
            </div>
            <!-- common right column -->
          </div>
        </div>
      </div>
    </div>
